
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #890ca8;
  height: 8em;
  width: 100%;
}

.logo img {
  width: 18%;
  padding: .2rem;
  margin: .2rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #f7702d;
  padding: 1rem;
  display: block;
  font-size: 1.8em;
  text-transform: uppercase;
  font-family: 'Tillana', Arial, serif;
}

.navbar-links li:hover {
  background: #fca151;
  border-radius: 10px;
  transition: 0.5s;
}

.navbar-links li a:hover {
  color: white;
}

.toggle-button {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 10px;
}

#main {
  background: linear-gradient(180deg, #890ca8, #f7702d);
  height: 700px;
  width: 100%;
  padding-top: 2em;
}

h1 {
  color: white;
  font-size: 4.5vw;
  font-family: 'Playfair Display', Arial, serif;
  letter-spacing: 0.08em;
  text-shadow: 2px 2px 5px rgb(246, 164, 22);
  text-align: center;
}

#main p {
  color: white;
  font-size: 2.5vw;
  line-height: 1.5;
  text-align: center;
  padding: 10px 150px;
}

#about {
  background: linear-gradient(180deg, #f7702d, #890ca8);
  height: 800px;
  width: 100%;
  padding-top: 3em;
  text-align: center;
}

h2 {
  font-family: 'Acme', serif;
  font-size: 3vw;
  color: white;
  text-decoration: underline;
  margin: 0px 0px;
  letter-spacing: 0.08em;
  text-align: center;
}

#about img {
  display: block;
  width: 350px;
  height: 250px;
  border-radius: 10px;
  border: 3px solid black;
  margin: 15px auto;
}

#about p {
  color: white;
  font-size: 2vw;
  line-height: 1.5;
  text-align: center;
  padding: 10px 80px;
}

.fa-solid {
  width: auto;
  align-items: center;
  padding: 1em;
}

#portfolio {
  background: linear-gradient(180deg, #890ca8, #f7702d);
  height: 775px;
  width: 100%;
  text-align: center;
  padding-top: 3em;
}

#portfolio h2 {
  padding-bottom: 30px;
}

#portfolio-card1 {
  height: 21rem;
  width: 25rem;
  background: white;
  display: inline-block;
  border: 2px solid black;
  border-radius: 20px;
  margin: 1em;
}

#portfolio-card1 h3 {
  color: black;
}

#portfolio-card2 {
  height: 21rem;
  width: 25rem;
  background: white;
  display: inline-block;
  border: 2px solid black;
  border-radius: 20px;
  margin: 1em;
}

#portfolio-card2 h3 {
  color: black;
}

#portfolio-card3 {
  height: 21rem;
  width: 25rem;
  background: white;
  display: inline-block;
  border: 2px solid black;
  border-radius: 20px;
  margin: 1em;
}

#portfolio-card3 h3 {
  color: black;
}

#contact {
  background: linear-gradient(180deg, #f7702d, #890ca8);
  height: 600px;
  width: 100%;
  text-align: center;
  padding-top: 3em;
}

#contact p {
  color: white;
  padding-top: 2em;
  font-size: 2vw;
  text-align: center;
  line-height: 1.5;
}

.ContactEmail {
  display: inline-block;
  margin-top: 2em;
  text-decoration: none;
  font-size: 1.5em;
  color:#fca151;
}

#contact button {
  margin-top: 3em;
}

#footer {
  background: black;
  height: 40px;
  width: 100%;
  text-align: center;
}

#footer p {
  color: white;
  font-size: 1.2em;
  font-family: 'Annie Use Your Telescope', cursive;
  margin-top: 0;
}

button {
  background-color: white;
  color: #890ca8;
  border: 1px solid black;
  font-size: 18px;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 2px 2px black;
  cursor: pointer;
}

button a {
  text-decoration: none;
}

button a:hover {
  color: white;
}

button:hover {
  background-color: #890ca8;
  color: white;
  border: 1px solid #fca151;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
    background: black;
  }

  .logo img {
    width: 13%;
    margin: .2rem;
    padding: .2rem;
  }

  #main {
    padding-top: 6.5em;
    height: 570px;
  }

  h1 {
    font-size: 2.5em;

  }

  #main p {
    font-size: 4vw;
    text-align: justify;
    padding: 10px 40px;
  }

  #about {
    height: 800px;
  }

  h2 {
    font-size: 2em;
  }

  #about img {
    height: 180px;
    width: 250px;
  }

  #about p {
    font-size: 3.8vw;
    text-align: justify;
    padding: 10px 40px;
  }

  #portfolio {
    height: 1400px;
  }

  #contact p {
    font-size: 3.9vw;
    text-align: center;
    padding: 10px 40px;
  }
}