
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #890ca8;
  height: 120px;
  width: 100%;
}

.logo img {
  width: 25%;
  padding: .2rem;
  margin: .5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #f7702d;
  padding: 1rem;
  display: block;
  font-size: 1.6em;
  line-height: 25px;
  text-transform: uppercase;
  font-family: 'Tillana', Arial, serif;
}

.navbar-links li:hover {
  background: #fca151;
  border-radius: 10px;
  transition: 0.5s;
}

.navbar-links li a:hover {
  color: #ffffff;
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 22px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
}

#main {
  background: linear-gradient(180deg, #890ca8, #f7702d);
  height: 700px;
  width: 100%;
  padding-top: 2em;
}

h1 {
  color: #ffffff;
  font-size: 4.3vw;
  font-family: 'Playfair Display', Arial, serif;
  letter-spacing: 0.08em;
  text-shadow: 2px 2px 5px rgb(246, 164, 22);
  text-align: center;
}

#main p {
  color: #ffffff;
  font-size: 2.3vw;
  line-height: 1.5;
  text-align: center;
  padding: 10px 150px;
}

#about {
  background: linear-gradient(180deg, #f7702d, #890ca8);
  height: 900px;
  width: 100%;
  padding-top: 3em;
  text-align: center;
}

h2 {
  font-family: 'Acme', serif;
  font-size: 3vw;
  color: #ffffff;
  text-decoration: underline;
  margin: 0px 0px;
  letter-spacing: 0.08em;
  text-align: center;
}

#about img {
  display: block;
  width: 350px;
  height: 250px;
  border-radius: 10px;
  border: 3px solid #000000;
  margin: 25px auto;
}

#about p {
  color: #ffffff;
  font-size: 2.3vw;
  line-height: 1.5;
  text-align: center;
  padding: 10px 80px;
}

.fa-solid {
  width: auto;
  align-items: center;
  padding: 1.3em;
}

#about a {
  margin-top: 50px;
}

#portfolio {
  background: linear-gradient(180deg, #890ca8, #f7702d);
  height: 1000px;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

#portfolio h2 {
  padding-bottom: 20px;
}

.portfolio_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(100px, auto);
  gap: 50px;
  margin: 50px;
}

.portfolio-card1 {
  grid-column: 1;
  grid-row: 1;
  height: 22em;
  width: 22em;
  background-image: url(images/camera\ background.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #000000;
  border-radius: 20px;
  place-self: center;
}

.portfolio-card1 img {
  padding-top: 2em;
}

.portfolio-card1 p {
  margin: 1em 1em;
}

.portfolio-card2 {
  grid-column: 2;
  grid-row: 1;
  height: 25em;
  width: 25em;
  background-image: url(images/Ski\ Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #000000;
  border-radius: 20px;
  justify-self: center;
}

.portfolio-card2 img {
  padding-top: 2em;
}

.portfolio-card2 p {
  margin: 1em 1em;
}

.portfolio-card3 {
  grid-column: 1;
  grid-row: 2;
  height: 26em;
  width: 25em;
  background-image: url(images/Sports\ Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #000000;
  border-radius: 20px;
  justify-self: center;
}

.portfolio-card3 img {
  padding-top: 2em;
}

.portfolio-card3 p {
  margin: 1em 1em;
}

.portfolio-card4 {
  grid-column: 2;
  grid-row: 2;
  height: 25em;
  width: 25em;
  background-image: url(images/Investment\ Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #000000;
  border-radius: 20px;
  justify-self: center;
}

.portfolio-card4 img {
  padding-top: 2em;
}

.portfolio-card4 p {
  margin: 1em 1em;
}

#contact {
  background: linear-gradient(180deg, #f7702d, #890ca8);
  height: 600px;
  width: 100%;
  text-align: center;
  padding-top: 3em;
}

#contact p {
  color: #ffffff;
  padding-top: 2em;
  font-size: 2.3vw;
  text-align: center;
  line-height: 1.5;
}

.ContactEmail {
  display: inline-block;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 2.3em;
  color:#f7702d;
}

.fa-brands {
  width: auto;
  align-items: center;
  padding: 1.5em;
}

#footer {
  background: #000000;
  height: 50px;
  width: 100%;
  text-align: center;
}

#footer p {
  color: #ffffff;
  font-size: 1.5em;
  font-family: 'Annie Use Your Telescope', cursive;
  margin-top: 0;
}

.portfolio_button {
  background-color: #ffffff;
  color: #890ca8;
  border: 1px solid #000000;
  font-size: 18px;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 2px 2px #000000;
  cursor: pointer;
  margin: 0.5em 1em;
}

.portfolio_button a {
  text-decoration: none;
}

.portfolio_button a:hover {
  color: #ffffff;
}

.portfolio_button:hover {
  background-color: #890ca8;
  color: #ffffff;
  border: 1px solid #f7702d;
  transition: 0.5s;
}

/* Media query for mobile devices */
@media (min-width: 375px) and (max-width: 480px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: 100px;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
    font-size: 1.2em;
    line-height: 1;
  }

  .navbar-links.active {
    display: flex;
    background: #000000;
  }

  .logo img {
    width: 25%;
    margin: .2rem;
    padding: .2rem;
  }

  #main {
    padding-top: 6.5em;
    height: 650px;
  }

  h1 {
    font-size: 10vw;
  }

  #main p {
    font-size: 4.6vw;
    text-align: justify;
    padding: 20px 40px;
  }

  h2 {
    font-size: 2em;
  }

  #about {
    height: 1000px;
  }

  #about img {
    height: 180px;
    width: 250px;
  }

  #about p {
    font-size: 4.4vw;
    text-align: justify;
    padding: 15px 40px;
  }

  .fa-solid {
    width: auto;
    align-items: center;
    padding: 0.5em;
  }

  #portfolio {
    height: 1800px;
  }

  .portfolio_container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 20px;
  }

  .portfolio-card1 {
    grid-column: auto;
    grid-row: auto;
    height: 22em;
    width: 22em;
  }

  .portfolio-card2 {
    grid-column: auto;
    grid-row: auto;
    height: 22em;
    width: 22em;
  }

  .portfolio-card3 {
    grid-column: auto;
    grid-row: auto;
    height: 23em;
    width: 22em;
  }

  .portfolio-card4 {
    grid-column: auto;
    grid-row: auto;
    height: 22em;
    width: 22em;
  }

  .portfolio_button {
    margin-top: 2px;
  }

  #contact {
    height: 390px;
  }

  #contact p {
    font-size: 3.6vw;
    padding: 15px 40px;
  }

  .ContactEmail {
    font-size: 3.8vw;
  }

  .fa-brands {
    padding: 1.2em;
  }

  #footer {
    height: 23px;
  }

  #footer p {
    font-size: 3.3vw;
  }
}

/* Media query for low resolution tablets, ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: 100px;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
    background: #000000;
  }

  .logo img {
    width: 20%;
    margin: .2rem;
    padding: .2rem;
  }

  #main {
    padding-top: 6.5em;
    height: 600px;
  }

  h1 {
    font-size: 2.5em;
  }

  #main p {
    font-size: 4vw;
    text-align: justify;
    padding: 10px 40px;
  }

  #about {
    height: 1100px;
  }

  h2 {
    font-size: 2em;
  }

  #about img {
    height: 180px;
    width: 250px;
  }

  #about p {
    font-size: 3.8vw;
    text-align: justify;
    padding: 10px 40px;
  }

  #portfolio {
    height: 1800px;
  }

  .portfolio_container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 20px;
  }

  .portfolio-card1 {
    grid-column: auto;
    grid-row: auto;
    height: 22em;
    width: 22em;
  }

  .portfolio-card2 {
    grid-column: auto;
    grid-row: auto;
    height: 22em;
    width: 22em;
  }

  .portfolio-card3 {
    grid-column: auto;
    grid-row: auto;
    height: 23em;
    width: 22em;
  }

  .portfolio-card4 {
    grid-column: auto;
    grid-row: auto;
    height: 22em;
    width: 22em;
  }

  .portfolio_button {
    margin-top: 2px;
  }

  #contact {
    height: 425px;
  }

  #contact p {
    font-size: 3.6vw;
    text-align: center;
    padding: 10px 0px;
  }

  .ContactEmail {
    font-size: 3.4vw;
  }

  #footer {
    height: 30px;
  }

  #footer p {
    font-size: 2.8vw;
  }
}

/* Media query for tablets ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    height: 100px;
  }
  
  .logo img {
    width: 25%;
    margin: .2rem;
    padding-top: 2rem;
  }

  #main {
    padding-top: 6.5em;
    height: 600px;
  }

  h1 {
    font-size: 3em;
  }

  #main p {
    font-size: 3vw;
    text-align: justify;
    padding: 10px 40px;
  }

  #about {
    height: 900px;
  }

  h2 {
    font-size: 2.5em;
  }

  #about img {
    height: 200px;
    width: 280px;
  }

  #about p {
    font-size: 2.6vw;
    text-align: justify;
    padding: 10px 40px;
  }

  .fa-solid {
    align-items: center;
    padding: 0.9em;
  }

  #portfolio {
    height: 1100px;
  }

  .portfolio-card1 {
    height: 22rem;
    width: 22rem;
  }

  .portfolio-card1 .portfolio_button {
    margin-top: 3px;
  }

  .portfolio-card2 {
    height: 22rem;
    width: 22rem
  }

  .portfolio-card2 .portfolio_button {
    margin-top: 3px;
  }

  .portfolio-card3 {
    height: 22.8rem;
    width: 22rem
  }

  .portfolio-card3 .portfolio_button {
    margin-top: 0;
  }

  .portfolio-card4 {
    height: 22.8rem;
    width: 22rem
  }

  .portfolio-card4 .portfolio_button {
    margin-top: 3px;
  }

  #contact {
    height: 450px;
  }

  #contact p {
    font-size: 2.8vw;
    padding: 10px 40px;
  }

  .ContactEmail {
    font-size: 2.8vw;
  }

  #footer {
    height: 30px;
  }

  #footer p {
    font-size: 2vw;
  }
}

/* Media query for laptops and desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .navbar {
    height: 100px;
  }

  .logo img {
    width: 25%;
    margin: .2rem;
    padding-top: 2rem;
  }

  #main {
    padding-top: 6.5em;
    height: 600px;
  }

  h1 {
    font-size: 4em;
  }

  #main p {
    font-size: 3vw;
    text-align: justify;
    padding: 10px 40px;
  }

  #about {
    height: 950px;
  }

  h2 {
    font-size: 3em;
  }

  #about img {
    height: 200px;
    width: 280px;
  }

  #about p {
    font-size: 2.6vw;
    text-align: justify;
    padding: 10px 40px;
  }

  .fa-solid {
    align-items: center;
    padding: 0.9em;
  }

  #portfolio {
    height: 1100px;
  }

  .portfolio-card1 {
    height: 23em;
    width: 23rem;
  }

  .portfolio-card2 {
    height: 23rem;
    width: 23rem;
  }

  .portfolio-card3 {
    height: 23.6rem;
    width: 23rem;
  }

  .portfolio-card4 {
    height: 23.6rem;
    width: 23rem;
  }

  #contact {
    height: 550px;
  }

  #contact p {
    font-size: 2.8vw;
    padding: 10px 40px;
  }

  .ContactEmail {
    font-size: 2.8vw;
  }

  #footer {
    height: 30px;
  }

  #footer p {
    font-size: 2vw;
  }
}

/* Media query for large screens */
@media (min-width: 1281px) {
  .navbar {
    height: 100px;
  }

  .logo img {
    width: 25%;
    margin: .2rem;
    padding-top: 2rem;
  }

  #main {
    padding-top: 6.5em;
    height: 700px;
  }

  h1 {
    font-size: 3.3em;
  }

  #main p {
    font-size: 2.3vw;
    text-align: justify;
    padding: 30px 100px;
  }

  #about {
    height: 1100px;
  }

  h2 {
    font-size: 2.5em;
  }

  #about img {
    height: 250px;
    width: 360px;
  }

  #about p {
    font-size: 2.3vw;
    text-align: justify;
    padding: 10px 100px;
  }

  .fa-solid {
    align-items: center;
    padding: 1.3em;
  }

  #portfolio {
    height: 1100px;
  }

  .portfolio-card1 {
    height: 25rem;
    width: 25rem;
  }

  .portfolio-card2 {
    height: 25rem;
    width: 25rem;
  }

  .portfolio-card3 {
    height: 25rem;
    width: 25rem;
  }

  .portfolio-card4 {
    height: 25rem;
    width: 25rem;
  }

  #contact {
    height: 550px;
  }

  #contact p {
    font-size: 2.3vw;
    padding: 10px 100px;
  }

  .ContactEmail {
    font-size: 2.3vw;
  }

  #footer {
    height: 33px;
  }

  #footer p {
    font-size: 1.5vw;
  }
}